@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll-horizontal {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .animate-scroll-horizontal {
    animation: scroll-horizontal 60s linear infinite;
  }